<div layout="row">
    <div flex flex-gt-sm="50" offset-gt-sm="25">
        <form name="myForm">
            <fieldset>
                <legend>Upload on form submit</legend>
                Username:
                <input type="text" name="userName" ng-model="username" size="31" required>
                <i ng-show="myForm.userName.$error.required">*required</i>
                <br>Photo:
                <input type="file" ngf-select ng-model="picFile" name="file"
                       accept="image/*" ngf-max-size="2MB" required>
                <i ng-show="myForm.file.$error.required">*required</i><br>
                <i ng-show="myForm.file.$error.maxSize">
                    File too large
                    {{picFile.size / 1000000|number:1}}MB: max 2M
                </i>
                <img ngf-thumbnail="picFile" class="thumb"> <button ng-click="picFile = null">Remove</button>
                <br>
                <button ng-disabled="!myForm.$valid"
                        ng-click="uploadPic(picFile)">
                    Submit
                </button>
                <span class="progress" ng-show="picFile.progress >= 0">
                    <div style="width:{{picFile.progress}}%"
                         ng-bind="picFile.progress + '%'"></div>
                </span>
                <span ng-show="picFile.result">Upload Successful</span>
                <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
            </fieldset>
            <br>
        </form>
        <form name="form">
            <h2>Add Job</h2>

            <input type="file"
                   id="upload"
                   name="photoUpload"
                    accept="image/*"
                   file-model="imageData"
                   capture="camera">
            <md-input-container flex>
                <label>Name</label>
                <input required name="name" ng-maxlength="20" md-maxlength="20" ng-model="job.name">
                <div ng-messages="form.name.$error">
                    <div ng-message="required">required</div>
                    <div ng-message="maxlength">too long</div>
                </div>
            </md-input-container>
            <md-input-container flex>
                <label>Description</label>
                <textarea required ng-model="job.description" name="description" columns="2" ng-maxlength="100" md-maxlength="100"></textarea>
                <div ng-messages="form.description.$error">
                    <div ng-message="maxlength">too long</div>
                </div>
            </md-input-container>
            <div layout="row" layout-align="end">
                <md-button class="md-primary md-raised" type="submit" data-ng-click="addJob()">Submit</md-button>
            </div>
            <div ng-hide="message == ''" ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                {{message}}
            </div>
        </form>
    </div>
</div>
