<div layout="row">
    <div flex flex-gt-sm="50" offset-gt-sm="25">
        <form>
            <h2>Add Job Image</h2>
            <br />
            <br />
            <br />
     <input type="file"
                   id="upload"
                   name="photoUpload"
                   accept="image/*"
                   file-model="imageData"
                   capture="camera">
            <br />
            <br />
            <br />

            <div layout="row" layout-align="end">
                <md-button id="submitButton" class="md-primary md-raised" ng-click="uploadFile()">Submit</md-button>
                <md-button>skip this step</md-button>
            </div>
           
        </form>
    </div>
</div>
