<div class="jumbotron">
    <div class="container">
        <div class="page-header text-center">
            <h1>Project:DONE</h1>
            </div>
        <p class="text-center">Get instant quotes for your house projects.</p>
        <div layout="row" layout-align="center">
            <md-button class="md-primary md-raised" ng-click="go('/login');">Get Started</md-button>
        </div>
    </div>
</div>
<div flex layout="row" layout-align="center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/1kyiMuY-t7o" frameborder="0" allowfullscreen></iframe>
</div>
<content layout="row" layout-sm="column">
    <div flex style="margin:10px;">
        <h2>Snap.</h2>
        <p class="text-primary">Take a picture of your project.</p>
    </div>
    <div flex style="margin:10px;">
        <h2>Task.</h2>
        <p class="text-primary">Get instant quotes.</p>
    </div>
    <div flex style="margin:10px;">
        <h2>Done.</h2>
        <p class="text-primary">Hire and pay with the app.</p>
    </div>
</content>
<div layout="row" layout-align="center">
    <md-button class="md-primary md-raised" ng-click="go('/login');">Learn More</md-button>
</div>
