<div layout="row">
    <div flex flex-gt-sm="50" offset-gt-sm="25">

        <md-list class="md-primary" flex>
            <md-subheader class="md-no-sticky">Bids</md-subheader>
            <md-list-item class="md-primary md-3-line md-whiteframe-z1" ng-repeat="bid in bids">
                <img ng-src="http://lorempixel.com/100/100/people/{{bid.bidId}}" class="md-avatar" style="width:60px;height:60px;" />

                <div class="md-list-item-text">
                    <div flex layout="row">
                        <h4 flex="75">{{bid.name}}</h4>
                        <h3 flex style="text-align:right;">${{bid.amount}}</h3>
                    </div>
                    <p>{{bid.description}}</p>
                    <div flex layout="row">
                        <div flex="50">
                            <span>
                                <img src="app/images/badges.png" width="70px" />
                                <md-tooltip md-direction="right">
                                    Certified Plumber - lic# 1234-5678
                                </md-tooltip>
                            </span>
                        </div>
                        <div flex style="text-align:right;"><img src="app/images/five-stars.jpg" width="100px" /></div>
                    </div>
                </div>
            </md-list-item>
        </md-list>
        <form name="form">
            <h2>Project Details</h2>
            <img src="{{project.imagePath}}" width="100%" />
            <md-input-container flex>
                <label>Name</label>
                <input disabled ng-model="project.name">
            </md-input-container>
            <md-input-container flex>
                <label>Description</label>
                <textarea disabled ng-model="project.description" columns="1"></textarea>
            </md-input-container>
            <div layout="row" layout-align="end">
                <md-button class="md-warn" data-ng-click="deleteProject(project)">Delete</md-button>
                <md-button class="md-accent" data-ng-click="go('/projects/edit/'+project.projectId)">Edit</md-button>
                <md-button class="md-primary md-raised" type="submit" data-ng-click="go('/projects')">Back</md-button>
            </div>

        </form>


    </div>
</div>
